
body {
    font-family: Arial;
    background-color: #e44215;
    line-height: 20px;
}


#top {
    color: #ffffff;
    padding: 15px;
    font-size: 30px;
    line-height: 26px;    
}

#top h1 {
    margin:0;
    text-align: center;
    line-height: 50px;
}

#menubar {
    width: 190px;
    float: right;
}

#main {
    padding: 10px;
    background-color: #ffe2e2;
    font: 80% Verdana;
}

#main h1, #main h2 {
    color: #e4158a;
    font-style: italic;
}

#sidebar {
    background-color: #fffcfb;
    color: #e44215;
    text-align: center;
    padding: 10px;
}

#bottom {
    display:block;
    text-align: left;
    padding: 10px;
    font-size: 70%;
    color: #ffffff;
}

#menulist {
    padding:0;
    font: 16px verdana;
}

.menuitem {
    width: 155px;
    background-color: #e4158a;
    border: 1px solid #e4158a;
    border-radius: 40px;
    color: #ffffff;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.menuitem:nth-child(2) {
   background-color:white;
   color: #e4158a;
   font-weight:bold;
}



a {
    color: #e4158a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}